torch==2.5.1
numpy==1.26.4
pandas==1.5.3
scipy==1.10.1
scikit-learn==1.2.2
h5py==3.14.0
tables==3.9.2
tqdm==4.67.3
matplotlib==3.9.4
bayesian-optimization==3.2.1
palettable==3.3.3
joblib==1.5.2
networkx==3.2.1
sympy==1.14.0
filelock==3.17.0
packaging==25.0
requests==2.32.5
PyYAML==6.0.2
Jinja2==3.1.6
