aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1753804962438/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
bayesian-optimization==3.2.1
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
brotlicffi @ file:///home/task_176174500594476/conda-bld/brotlicffi_1761745023049/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/task_175978575413734/conda-bld/certifi_1759786089495/work/certifi
cffi @ file:///home/task_176009806070988/conda-bld/cffi_1760098074992/work
charset-normalizer @ file:///home/task_176174481424137/conda-bld/charset-normalizer_1761744826830/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1754472482745/work
cycler==0.12.1
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1754523415/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
filelock @ file:///croot/filelock_1744281381737/work
fonttools==4.60.2
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1670581764970/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1755130281010/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1749108257037/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1733907410727/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1745360236764/work
google-cloud-bigquery==1.10.0
google-cloud-core==0.29.1
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1743041432149/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1733728468631/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1744688777945/work
h5py @ file:///croot/h5py_1750862990877/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1733927481809/work
idna @ file:///home/task_176191195514797/conda-bld/idna_1761911982145/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1754352855579/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///home/task_175792628848965/conda-bld/joblib_1757926345058/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
kiwisolver==1.4.7
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mpi4py @ file:///croot/mpi4py_1749458488241/work
mpmath @ file:///croot/mpmath_1690848262763/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1751310558090/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1717597493534/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy==1.26.4
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1750415243897/work
packaging @ file:///home/task_176104876094959/conda-bld/packaging_1761049077121/work
palettable==3.3.3
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///croot/pillow_1752524526621/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pooch @ file:///croot/pooch_1731007038704/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524932661/work
protobuf==3.20.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1740663125313/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-cpuinfo @ file:///croot/py-cpuinfo_1698068081650/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1743436035994/work
pycparser @ file:///home/task_175749519362630/conda-bld/pycparser_1757496041086/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1747560772891/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
PySocks @ file:///home/task_176175233246416/conda-bld/pysocks_1761753011536/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz @ file:///croot/pytz_1752135852232/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1755799528447/work
requests @ file:///croot/requests_1756709366904/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
roc-utils==0.2.2
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1744825426113/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy==1.10.1
six @ file:///croot/six_1744271502820/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy @ file:///croot/sympy_1756713465822/work
tables @ file:///home/task_175768913157228/conda-bld/pytables_1757689175889/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1754731992698/work
tqdm==4.67.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1748892307961/work
urllib3 @ file:///croot/urllib3_1750775463400/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1749554822108/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
